.jumbotron {
  background-color: #DD87AE;
  text-align: center;
}
.pingpong-rules {
  float: left;
  margin-left: 5%;
  box-shadow: inset 0 0 20px #415556;
  padding: 3%;
  width: 40%;
}
.form-group {
  float: right;
  width: 40%;
  margin-top: 5%;
  box-shadow: inset 0 0 20px #415556;
  padding: 3%;
  margin-right: 5%;
}
#pingpong-btn {
  background-color: #22AFB6;
}
.result {
  box-shadow: inset 0 0 20px #415556;
  position: absolute;
  top: 70%;
  right: 5%;
  width:20%;
  text-align: center;
  height: 20vh;
  overflow: auto;
}
li.col-result {
  list-style-type: none;
  overflow: auto;
}
.result1 {
  overflow: auto;
}
